*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

body{
    display: flex;
    justify-content: center;
    /* makes them line up above each like columns */
    flex-direction: column;
    height: 100vh;
    margin : -20px 0 50px;
}

form{
    background-color: #054A91;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.container{
    position: relative;
<<<<<<< HEAD
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container form{
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
    /* element needs to take up all of container*/
    height: 100%;    
}   

.container input[type = "text"], .container input[type = "password"]{   
    background-color: #eeeeeec6;
    padding: 10px 15px;
    margin: 8px;
    text-align: center;
    border: none;
    border-radius: 8px;
    width: 100%;
    outline: none;
    font-size: 18px;
    
}

.container button{
    background-color: #eeeeeec6;
    padding: 10px 15px;
    margin: 8px;
    text-align: center;
    border: none;
    border-radius: 8px;
    outline: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.618);
}

.container button:hover{
    background-color: #eeeeeec6;
    color: black;
}

.container button.hidden{
    background-color: transparent;
    border-color: black;
    
}

.container h1{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
=======
    width: 75%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #054a91;
    
}

.form_login{
    position: absolute; 
    top: 40px;  
                
}








>>>>>>> 00156083bfaa0a1241b9acc60f0a99535e7f200f

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

}

.login{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .login{
    transform: translate(100%);
}

.signup{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.container.active .signup{
    transform: translate(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}



