.signupBody {
    height: 100vh; 
    background-color: #E1CDB5; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.signupContainer {
    display: flex; 
    /* 90% of the viewport width */
    width: 90%; 
    height: 95vh; 
    background-color: white; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    padding-right: 0px;
}

.leftSide {
    /* Half of the container width */ 
    width: 50%; 
    background-color: #ffffff; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding: 32px; 
    overflow-y: auto; 
}

.leftSide img {
    width: 150px; 
    margin-bottom: 5px; 
}

.leftSide h2 {
    font-size: 18px; 
    color: #90708c; 
    text-align: center; 
    margin-bottom: 20px;
}

.signupBox {
    display: flex; 
    flex-direction: column; 
    /* Full width of the parent */
    width: 100%; 
    max-width: 400px; 
}

.input-container {
    display: flex; 
    flex-direction: column; 
    gap: 15px;
}

.input-row {
    display: flex; 
    gap: 15px; 
}

.input-group {
    display: flex; 
    flex-direction: column; 
    /* this will make the input field take up the remaining space */
    flex: 1; 
}

.inputlabels {
    font-size: 14px;
    color: #90708c; 
    margin-bottom: 5px; 
}

.inputfields {
    padding: 10px;
    border: 1px solid #90708c;
    border-radius: 5px; 
    font-size: 14px; 
}

.signupButton {
    padding: 12px; 
    background-color: #90708c; 
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-top: 20px; 
}

.signupButton:hover {
    background-color: #685064; 
}

.login-link {
    margin-top: 20px; 
    font-size: 14px; 
    color: #90708c; 
    text-align: center; 
}

.login-link a { 
    color: #685064;
}

.rightSide {
    width: 50%; 
    background-color: #90708c; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.errorMessage {
    color: red; 
    font-size: 14px; 
    margin-top: 5px; 
}

/* Styles for the show password icon */
.showPassword {
    cursor: pointer; 
    width: 16px; 
    height: 16px; 
    position: absolute; 
    right: 50px; 
    top: 46px; 
    /* Center vertically in the middle */
    transform: translateY(-50%); 
    /* make sure it appears above other  */
    z-index: 2; 
}

/* Styles for the checkbox label */
.checkboxLabel {
    font-size: 14px; 
    color: #90708c; 
    position: absolute; 
    right: 10px; 
    top: 46px; 
    transform: translateY(-50%); 
    z-index: 2; 
}

/* Container for the password input and show password icon */
.password-group {
    position: relative; 
    display: flex; 
    flex-direction: column; 
}

.password-group .inputfields {
    height: 40px; 
}

.signupButton:disabled {
    background-color: #342a33; /* Example style: change background color when disabled */
    cursor: not-allowed; /* Example style: change cursor to not-allowed */
}